NEXT_PUBLIC_SITE_URL=http://localhost:3000
MAILJET_API_KEY=
MAILJET_SECRET_KEY=
MAILJET_SENDER_EMAIL=info@krishnachandra.com
MAILJET_SENDER_NAME=Krishna Chandra
CONTACT_TO_EMAIL=info@krishnachandra.com
NEXT_PUBLIC_ANALYTICS_ID=
